.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: #ff0000;
  margin-top: 10px;
}

.success {
  color: #00ff00;
  margin-top: 10px;
}

.small {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--gray-color);
}

.line {
  display: block;
}